<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div class="container">
    <form id="registrationForm">
        <h1>Register</h1>
        <div class="input-group">
            <label for="username">First Name</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Submit</button>
        <p class="message">Already registered? <a th:href="@{/login}">Sign In</a></p>
    </form>
</div>

</body>
</html>

<script>
    const submitButton = document.getElementById("submit");
    submitButton.addEventListener('click', ()=>{
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;

        const data ={
            username,
            password,
            email
        }

        const jsonData = JSON.stringify(data);
        fetch('/registration',{
            method: POST,
            headers:{
                'Content-Type': 'application/json'
            },
            body:jsonData
        })
            .then(response => {

            })
    })
</script>